.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.orab-header {
  display: flex;
  align-items: center;
  gap: 80px;
}
#menu {
  display: none;
}
@media (max-width: 630px) {
  #menu {
    display: block;
    margin-top: -10px;
  }
}
.site-logo {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}
.header-list {
  display: flex;
  gap: 60px;
  margin-right: auto;
}
.link {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.link:hover {
  color: rgb(255, 204, 0);
}
@media (max-width: 630px) {
  .navbar {
    display: none;
  }
}
