main {
  width: 100%;
}
.main-orab {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
}
.birinchi {
  background-image: url(../images/main.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.main-title {
  font-family: Livvic;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  width: 100%;
  max-width: 600px;
}
span {
  color: #f67e7e;
}
.line-main {
  background: rgb(121, 200, 199);
  width: 100%;
  max-width: 50px;
  height: 4px;
  margin-bottom: 79px;
  border: none;
}
.main-dack {
  width: 100%;
  max-width: 445px;
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 250px;
}
.bir {
  position: relative;
  background: url(../images/main-imge2.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.main-container1 {
  background-image: url(../images/main-image.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.rasm2 {
  position: absolute;
  left: 0px;
  top: 150px;
  display: none;
}
.rasm1 {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

// =============================================
.main-birinchi-orab {
  display: flex;
  justify-content: space-between;
}
.birinchi {
  background: rgb(1, 47, 52);
  width: 100%;
  padding: 20px 20px;
}
.line-main-birinchi {
  background: rgb(246, 126, 126);
  border: none;
  width: 100%;
  max-width: 50px;
  height: 4px;
}
.birinchi-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  width: 100%;
  max-width: 445px;
  margin-top: 50px;
}
.birinchi-ikkinchi {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ikkinchi-birinchi {
  width: 100%;
  max-width: 540px;
  display: flex;
  gap: 30px;
}
.bbbbb {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ikkinchi-birinchi-title {
  color: rgb(246, 126, 126);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.ikkinchi-birinchi-dack {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.8;
  width: 100%;
  max-width: 445px;
}
// ===================================
.pas-title {
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  margin-bottom: 55px;
  margin-top: 140px;
}
.span {
  color: #79c8c7;
}
.pas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 140px;
}
.img {
  width: 67px;
  margin-bottom: -15px;
}
.card-dack {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  max-width: 355px;
  margin-bottom: 24px;
}
.card-orab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.omg1 {
  border: 2px solid rgb(196, 255, 254);
  border-radius: 50%;
}
.pas1-title {
  color: rgb(121, 200, 199);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 2px;
}
.link-main1 {
  color: #ffffff7f;
  margin-bottom: 30px;
}
.pasi-title {
  color: rgb(1, 47, 52);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.pasi-orab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  text-align: center;
}
.rasm5 {
  margin-bottom: -60px;
  margin-left: -50px;
  padding-right: 50px;
}
.section {
  background: rgb(246, 126, 126);
  width: 100%;
  padding: 55px 0;
  display: flex;
  align-items: center;
}
.orab7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .pasi-orab {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .rasm5 {
    display: none;
  }
  .pasi-title {
    font-size: 30px;
  }
  .main-birinchi-orab {
    flex-direction: column;
    gap: 80px;
  }
  .birinchi-title {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .main-orab {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-title {
    margin-top: 100px;
    font-size: 50px;
  }
  .bir {
    background: none;
  }
  .main-container1 {
    margin-top: -200px;
    background-position: bottom;
  }
}
@media (max-width: 1000px) {
  .card-orab {
    flex-direction: column;
  }
  .pas-title {
    font-size: 35px;
  }
}
